@tailwind base;

.table {
  position: relative;
}

.table-header {
  position: sticky;
  z-index: 15;
  top: 0;
}

.sidebar_contents:hover, .sidebar_contents:focus{
    text-decoration: none !important;
    color: #7F56D9 !important;
    background-color:#E8DEFC !important; 
  }

  .sidebar_subcontents:hover, .sidebar_subcontents:focus{
    text-decoration: none !important;
    color: #7F56D9 !important;
  }

  input[type ="checkbox"] {
    accent-color: #7F56D9 !important;
  }

  /* dropdown css */

.dropdown {
  --text: var(--dark);
  --text-size: var(--font-smaller);
  --label-color: #7e919a;
  --label-error: #ff5858;
  --placeholder-color: var(--grey-1);

  --bg: #fff;
  --bg-disabled: var(--grey-1);
  --bg-error: #fdf2f2;

  --border: var(--grey-2);
  --border-disabled: var(--grey-2);
  --border-ornategrey: #abbbc2;
  --focus: #0481fe;

  --list-text-color: var(--grey-3);
  --list-text-size: var(--font-smaller);
  --list-text-weight: 400;
  --list-hover: var(--blue);

  height: 30px;
  margin: 0.25rem 0;
  border-radius: 6px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e5e7eb;
  text-align: center;
  outline: none !important;
  position: relative;
  user-select: none;
  /* width: max-content;
    min-width: 10.5rem; */
}

.dropdown:hover {
  cursor: pointer;
}

.dropdownDisabled {
  background-color: var(--bg-disabled);
  cursor: pointer;
  border-color: var(--border-ornategrey) !important;
}
.dropdownDisabled:hover {
  cursor: pointer;
  box-shadow: none;
}

.dropdown .innerDiv {
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text);
  font-size: 14px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 90% 10%;
}

.multipleSelectInnerDiv {
  grid-template-columns: 70% 30% !important;
}

.innerDiv p {
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  word-break: keep-all;
  white-space: nowrap;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

/* With Search */
.innerDiv > input {
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.innerDiv > input:focus-visible {
  outline: none;
}

.placeholderText {
  color: var(--grey-2);
  font-size: 0.14px;
  font-weight: 400;
}

.dropdown div svg {
  color: #9ea2b1;
  font-size: 14px;
}
.dropdown .ul {
  position: absolute;
  min-width: min-content;
  max-width: 100%;
  width: 100%;

  border: 1px solid #E0E0E0;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

  max-height: 10rem;
  overflow-y: auto;

  list-style: none;

  padding: 0;
  margin: 0;
  z-index: 100;
}
.dropdown ul::-webkit-scrollbar {
  width: 0.25rem;
}
.dropdown ul::-webkit-scrollbar-track {
  background: #fff;
}
.dropdown ul::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 5px;
  width: 0.125rem;
}
.dropdown ul:first-child {
  padding-top: 0.3em;
}
.dropdown ul li {
  display: flex;
  align-items: center;

  color: var(--list-text-color);
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  line-height: 2;

  padding: 0 0.99rem;
  cursor: pointer;
  margin: 0.5rem 0;
  text-align: left;
  word-break: word-break;
}

.dropdown li:hover {
  background: #f2f2f2;
}

.selected {
  font-weight: 500 !important;
}

/* Mutli select */

.multiselectOption {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.selectedOptionList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.selectedOptionList > span {
  color: var(--grey-1);
  display: flex;
  align-items: center;
}
.selectedOptionList > svg {
  color: var(--grey-1);
}

.selectedText {
  color: #7F56D9;
  font: 14px;
  display: grid;
  place-items: center;
}
/* End of Mutli select */


.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 15rem;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.section{
	width: calc(100% - 15rem);
	margin-left: 15rem;
	transition: all 0.5s ease;
}

@media(max-width:767px){
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@tailwind components;
@tailwind utilities;

